/* Portrait phones max470 */

@media all and (max-width: 470px) {

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.925rem;
}

#cars {
  display: none;
}
.main {
  background-color: white;
}
.main-wrapper{
  grid-template-columns: 1fr;
  grid-gap: 70px;
  margin: 0px;
}
.button, .main-wrapper{
  text-align: center;
  margin: 0 auto;
}

.banner {
  padding-left: 0px;
}

.hero {
  width:90%;
}

.box {
  background-color: white;
  padding: 0;
}

#logo{
  max-width: 280px;
}
.logo__small {
  width: 100%;
}
.navbar, img.main-image__hide, .image-container {
  display: none;
}

footer .footer-content {
  grid-template-columns: 1fr;
}
ul.kontakt li.kontakt-icons {
  margin-top: 10px;
}


}
