/* tablets portrait view*/

@media all and (min-width: 768px) and (max-width: 1024px){


      h1 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1rem;
      }

      h2. {
        font-size: 1.35rem;
      }

      #phonenumber, #cars {
        display: none;
      }


      .main p {
        font-size: .925rem;
      }


      .banner {
        padding-left: 0px;
      }

      .box {
        padding: 0;
        box-shadow: none;
      }

      .box {
        max-width: 90%;
        min-width: 90%;
      }

      div.box {
        grid-column: 1 / -1;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px 1rem 0px 1rem;
        padding: 0px 0px 10px 0px;
        background-color: #f9f9f9;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--yellowDark);
        padding: 0px 30px 30px 30px;
      }


.map-contact {

}
.map-contact a.schreiben {
  text-align: center;
}

      button {
        padding: 10px;
      }
      footer .footer-content {
        grid-template-columns: 1fr 1fr;
      }
      ul.kontakt li.kontakt-icons {
        margin-top: 10px;
      }
