/* tablets portrait view*/

@media all and (min-width: 768px) and (max-width: 1024px){


      h1 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1rem;
      }

      h2. {
        font-size: 1.35rem;
      }

      #cars {
        display: none;
      }

      div.aktuelle-angebote, div.renault-bedienung {
        grid-column: 1 / -1;
        text-align: center;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px 10rem 0px 10rem;
        padding: 0px 0px 10px 0px;
      }

      .main p {
        font-size: .925rem;
      }


      .banner {
        padding-left: 0px;
      }

      .box {
        padding: 0;
        box-shadow: none;
      }

      button {
        padding: 10px;
      }
      footer .footer-content {
        grid-template-columns: 1fr 1fr;
      }
      ul.kontakt li.kontakt-icons {
        margin-top: 10px;
      }
