/* Portrait small tablets and phones/phalets landscape max767 */

@media all and (min-width: 601px) and (max-width: 767px) {


    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1rem;
    }

    h2. {
      font-size: 1.35rem;
    }
    #cars {
      display: none;
    }


    #phonenumber {
      display: none;
    }

    .main {
      background-color: white;
      padding: 0px 10px 0px 10px;
    }

.box {
  width: 90%;
}

    .banner {
      padding-left: 0px;
    }

    .hero {
      width:75%;
    }

    .box {
      max-width: 90%;
      min-width: 90%;
    }

    div.box {
      grid-column: 1 / -1;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      margin: 40px 1rem 0px 1rem;
      padding: 0px 0px 10px 0px;
      background-color: #f9f9f9;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--yellowDark);
      padding: 0px 30px 30px 30px;
    }


    button {
      padding: 10px;
    }

    #logo{
      max-width: 400px;
    }

    .navbar {
      display: none;
    }

    .address {
      color: var(--blue);
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem;
      width: 400px;
    }
    footer .footer-content {
      grid-template-columns: 1fr 1fr;
    }
    ul.kontakt li.kontakt-icons {
      margin-top: 10px;
    }
    }
