/* Portrait phalet and phones landscape max600 */

@media all and (min-width: 470px) and (max-width: 600px) {


  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }

  #phonenumber {
    display: none;
  }

  #cars {
    display: none;
  }
  .logo-box {
    display: none;
  }

  .main {
    background-color: white;
  }


  .banner {
    padding-left: 0px;
  }

  .hero {
    width:75%;
  }

.box {
  width: 90%;
}

  #logo{
    max-width: 400px;
  }

  .map-contact {
    display: none;
  }

  .navbar, img.main-image__hide, .image-container {
    display: none;
  }
  footer .footer-content {
    grid-template-columns: 1fr;
  }
  ul.kontakt li.kontakt-icons {
    margin-top: 10px;
  }
  }
