

#main-container{
  border-bottom: 3px solid var(--yellowDark);
}

.main-impressum, .main-datenschutz {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 100px;

  /* border-bottom: 20px solid var(--yellow); */
}

.main-impressum p, .main-datenschutz p, .main-datenschutz li{
  margin: 0;
  padding: 0;
}

.main-datenschutz ul {
  list-style: none;
  margin: 20px 0px;

}
.main-datenschutz li {
  color: #555;
  padding: 5px;
  line-height: 1.25rem;
}

.main-impressum a, .main-datenschutz a  {
  text-decoration: none;
  color: var(--blue);
}
.main-impressum a:hover, .main-datenschutz a:hover  {
  color: var(--yellowHover);
}

.main-impressum h2, .main-datenschutz h2{
  color: var(--yellowDark);
  font-size: 1.75rem;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

.main-datenschutz h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 10px 0px;
  color: var(--blue);
}

.main-wrapper-impressum, .main-wrapper-datenschutz  {
  max-width: 500px;
  margin: 50px 10rem 0px 10rem;
  display: grid;
  grid-column: 1fr;
  grid-gap: 10px;
  padding-left: 40px;
  border-left: 3px solid var(--yellowDark);
}
